In [1]:
#wap to find the location of the house where the number of bathroom is min. 2
#wap to find the price of the house where the location is "Rajaji Nagar".
# wap to find the house where the number of bathroom is 0.
#wap to find the society where the price of the house is in between 500-100.
#wap to find the the house where number of balcony is max. 3
#wap to find the house in "Yemlur" with min size of the house is 3bhk.
#wap to find the house in 'Indira nagar' and try to find when you can move into 
# the house.


import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\Satyam\Downloads\Bengaluru_House_Data.csv')

In [3]:
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,@@@@@@,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [18]:
#wap to find the location of the house where the number 
# of bathroom is min. 2

df[df['bath']>=2][['location','price']].nlargest(5,'price')

              location   price
13067   Defence Colony  3600.0
11080      Ashok Nagar  2912.0
13200   Defence Colony  2800.0
11763  Sadashiva Nagar  2736.0
3180   Shanthala Nagar  2700.0

In [15]:
df.nlargest(5,'price')

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
13067,Plot Area,Ready To Move,Defence Colony,10 Bedroom,NaN,7150,13.0,NaN,3600.0
11080,Super built-up Area,18-Jan,Ashok Nagar,4 BHK,NaN,8321,5.0,2.0,2912.0
13200,Plot Area,Ready To Move,Defence Colony,6 Bedroom,NaN,8000,6.0,3.0,2800.0
11763,Plot Area,Ready To Move,Sadashiva Nagar,5 Bedroom,NaN,9600,7.0,2.0,2736.0
3180,Super built-up Area,Ready To Move,Shanthala Nagar,5 BHK,Kierser,8321,5.0,3.0,2700.0

In [21]:
#wap to find the price of the house where the 
# location is "Rajaji Nagar".

df[df['location'] == 'Rajaji Nagar']['price']

7        600.0
89       160.0
107      229.0
324      415.0
407      410.0
         ...
12715    105.0
12748    650.0
12824    225.0
12847    165.0
13013    245.0
Name: price, Length: 107, dtype: float64

In [27]:
# wap to find the house where the number of bathroom is 0.
df[df['bath'] > 0]['price']

0         39.07
1        120.00
2         62.00
3         95.00
4         51.00
          ...
13315    231.00
13316    400.00
13317     60.00
13318    488.00
13319     17.00
Name: price, Length: 13247, dtype: float64

In [25]:
df.shape

(13320, 9)

In [28]:
df['bath'].isnull().sum()

73

In [29]:
133320 - 73

133247

In [30]:
df['bath'].isnull().sum()

73

In [38]:
#wap to find the society where the price of 
# the house is in between 500-1000.

df[(df['price'] >=500) & (df['price']<=1000)]

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
7,Super built-up Area,Ready To Move,Rajaji Nagar,4 BHK,Brway G,3300,4.0,NaN,600.0
62,Plot Area,Ready To Move,Whitefield,4 Bedroom,Chranya,5700,5.0,3.0,650.0
159,Plot Area,Ready To Move,Mahalakshmi Layout,4 Bedroom,NaN,3750,4.0,0.0,760.0
440,Plot Area,Ready To Move,Whitefield,4 Bedroom,NaN,11890,4.0,3.0,700.0
539,Built-up Area,Ready To Move,7th Block Jayanagar,5 Bedroom,NaN,3000,3.0,1.0,528.0
...,...,...,...,...,...,...,...,...,...
13019,Plot Area,Ready To Move,HAL 2nd Stage,5 Bedroom,NaN,2040,4.0,1.0,500.0
13086,Super built-up Area,Ready To Move,Sindhi Colony,5 BHK,HMeuran,5665.84,7.0,NaN,988.0
13095,Super built-up Area,Ready To Move,Sathya Sai Layout,4 BHK,Prowshi,6652,6.0,1.0,660.0
13104,Built-up Area,19-Dec,Church Street,4 BHK,CoDast,2920,4.0,3.0,536.0
13119,Plot Area,Ready To Move,Sathya Sai Layout,4 Bedroom,Prowshi,6688,6.0,1.0,700.0

In [41]:
#wap to find the the house where number of balcony is max. 3

df[df['balcony']<=3]

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,@@@@@@,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13314,Super built-up Area,Ready To Move,Green Glen Layout,3 BHK,SoosePr,1715,3.0,3.0,112.00
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [47]:
#wap to find the house in "Yemlur" with min size of
# the house is 3bhk.

#wap to find the house in 'Indira nagar' and try to find 
# when you can move into 
# the house.

df[(df['location'] == 'Yemlur') & (df['size'] >= '3BHK')]

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
4162,Built-up Area,Ready To Move,Yemlur,4 Bedroom,Epllan,7000,5.0,NaN,2050.0
4929,Plot Area,18-May,Yemlur,8 Bedroom,Epllan,12000,9.0,NaN,1900.0
7315,Plot Area,18-Apr,Yemlur,4 Bedroom,Epllan,11000,5.0,3.0,2000.0
8682,Plot Area,Ready To Move,Yemlur,4 Bedroom,Epllan,8400,5.0,2.0,1675.0
9546,Plot Area,Ready To Move,Yemlur,5 Bedroom,Epllan,10000,5.0,NaN,1950.0

In [54]:
df[(df['location'] == 'Indira Nagar') & (df['availability'] == 'Ready To Move')].shape[0]

42

In [55]:
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,@@@@@@,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [56]:
#wap to find the house in 'Doddathoguru' and also 
# find the size
# of the house.

df[df['location'] == 'Doddathoguru']

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
46,Super built-up Area,Ready To Move,Doddathoguru,2 BHK,LancyRe,970,2.0,0.0,33.00
65,Super built-up Area,Ready To Move,Doddathoguru,2 BHK,NaN,1100,2.0,1.0,62.00
395,Built-up Area,Ready To Move,Doddathoguru,2 BHK,S onsMa,1050,2.0,1.0,32.00
1396,Super built-up Area,Ready To Move,Doddathoguru,2 BHK,Prianhi,850,2.0,1.0,25.00
1500,Super built-up Area,18-Apr,Doddathoguru,2 BHK,NaN,1200,2.0,2.0,75.00
2822,Super built-up Area,Ready To Move,Doddathoguru,2 BHK,Arensh,1030,2.0,2.0,42.00
2933,Super built-up Area,Ready To Move,Doddathoguru,3 BHK,SKterAs,1549,3.0,2.0,65.00
3559,Built-up Area,Ready To Move,Doddathoguru,3 BHK,SryleHo,1875,3.0,1.0,55.00
3688,Super built-up Area,Ready To Move,Doddathoguru,2 BHK,Hincy R,984,2.0,1.0,51.00
3710,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00
3872,Super built-up Area,Ready To Move,Doddathoguru,2 BHK,Vayali,1015,2.0,2.0,33.50
3924,Super built-up Area,Ready To Move,Doddathoguru,2 BHK,Saaveas,1104,2.0,2.0,39.00
4166,Super built-up Area,Ready To Move,Doddathoguru,2 BHK,Vabow R,915,2.0,1.0,32.00
4636,Built-up Area,Ready To Move,Doddathoguru,2 BHK,NaN,1140,2.0,3.0,32.00
4827,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,750,1.0,1.0,25.50
6082,Super built-up Area,Ready To Move,Doddathoguru,3 BHK,Prora F,1595,3.0,3.0,62.00
7260,Super built-up Area,Ready To Move,Doddathoguru,2 BHK,Elayabh,855,2.0,1.0,32.00
7560,Super built-up Area,Ready To Move,Doddathoguru,2 BHK,M ondit,1105,2.0,1.0,50.00
7696,Built-up Area,Ready To Move,Doddathoguru,2 BHK,Vabow R,925,2.0,2.0,30.00
8818,Super built-up Area,Ready To Move,Doddathoguru,3 BHK,NaN,1300,2.0,1.0,42.00
8869,Super built-up Area,Ready To Move,Doddathoguru,2 BHK,VBpleMa,1140,2.0,2.0,26.49
10409,Built-up Area,Ready To Move,Doddathoguru,3 BHK,Srtasno,1208,3.0,1.0,45.00
12312,Built-up Area,Ready To Move,Doddathoguru,2 BHK,NaN,1100,2.0,2.0,50.00
12319,Super built-up Area,Ready To Move,Doddathoguru,2 BHK,Prianhi,940,2.0,1.0,32.90
12546,Super built-up Area,Ready To Move,Doddathoguru,3 BHK,SKterAs,1382,3.0,1.0,65.00
12596,Super built-up Area,Ready To Move,Doddathoguru,2 BHK,NaN,964,2.0,1.0,62.00
12996,Built-up Area,Ready To Move,Doddathoguru,2 BHK,Cerasy,1107,2.0,3.0,44.00
13166,Built-up Area,Ready To Move,Doddathoguru,2 BHK,Srtasno,907,2.0,1.0,40.00
13243,Super built-up Area,Ready To Move,Doddathoguru,3 BHK,SRanail,1783,3.0,3.0,85.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00